.data-box {
  display: grid;
  width: 20%;
  padding: 10px 12px;
  border: 1px solid #EAEAEA;
  border-bottom: none;
  cursor: pointer;

  &:focus {
    background: #FFF5B0;
    outline: none;
  }
}

.note-title {
  font-weight: 600;
  font-size: 14px;
}

.time {
  font-size: 10px;
}