<div class="container">
  <div class="menus">
    <app-note-options
      (createNoteEvent)="createNote()"
      (deleteNoteEvent)="deleteNote()"
      (searchNoteEvent)="searchNotes($event)"
    ></app-note-options>
  </div>
  <div class="row dropdown">
    <button (click)="toggleDropdown()" class="toggle-button">
      <img src="https://img.icons8.com/ios-glyphs/24/000000/menu.png"/>
    </button>
    <div class="col-md-4 note-rows dropdown-content" *ngIf="show">
      <div *ngFor="let note of notes$ | async">
        <app-note-metadata
          (click)="toggleDropdown()"
          *ngIf="!searchedKeyword"
          [notes]="note"
          (selectedNoteEvent)="getSelectedNote($event)"
        ></app-note-metadata>
      </div>
      <div *ngFor="let note of searchNotes$ | async">
        <app-note-metadata
          (click)="toggleDropdown()"
          *ngIf="searchedKeyword"
          [notes]="note"
          (selectedNoteEvent)="getSelectedNote($event)"
        ></app-note-metadata>
      </div>
    </div>
    <div class="col-md-8">
      <app-note-board
        (noteDetailsEvent)="getNoteDescription($event)"
        [allNotes]="notes$ | async"
        [currentNoteID]="selectedNoteID"
      ></app-note-board>
    </div>
  </div>
</div>
<router-outlet></router-outlet>