.options-bar {
  display: flex;
  padding: 5px 0;
  background: #C3E3FF;

  button {
    border: none;
    background: transparent;
    cursor: pointer;
  }
}

.search {

  input {
    border-radius: 5px;
    border: none;
    outline: none;
    font-size: 13px;
    padding: 2px 8px;
  }
}